.navbar ul{
    /* 移除ul的默认样式 删掉前面的那个点 */
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    /*
    让li标签浮动 变成横向排列
    */
    float: left;
}
.navbar li a{
    /*将a标签变成块级元素显示*/
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    /*删除a标签的下划线*/
    text-decoration: none;
}

.navbar a:hover{
    background-color:dodgerblue;
}